name: PR Link Checker

on:
  pull_request:
    paths:
      - "README.md"

permissions:
  contents: read
  pull-requests: write

jobs:
  check-links:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0 # Required for diffing

      - name: Check new links
        id: check-links
        run: .github/scripts/check-links.sh
